.sidebar-part {
  width: 18%;
  padding: 20px 10px 10px 10px;
  border-right: 1px solid #ddd;
}

.sidebar-part > a {
  display: inline-block;
  width: 100%;
  margin-bottom: 18px;
  color: #000;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 6px 0;
}

.sidebar-part > a:hover {
  color: rgb(25, 181, 33);
}
